
.Logo {
    width:200px;
    height: auto;
}

.left{
    float: left;
    margin:10px;
}
.right{
    float:right;
    margin: 20px;
}
/* .cinema-Header{
    background-color: #24262b;Footer & Navbar color

} */